@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}
/* Solution */

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

body{
  display: flex;
  flex-direction: column;
}

.header, .footer{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.footer{
  background-color: rgb(158, 156, 156);
}

ul{
  display: flex;
  padding: 0;
  margin: 24px;
  gap: 24px;
}

.content{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content div{
  margin: 10px; 
}
